In [32]:
import pandas as pd

In [33]:
cvs_path1="/Users/guoyalong/Desktop/homework/Pandas-Challenge/Resources/schools_complete.csv"

In [34]:
cvs_path2="/Users/guoyalong/Desktop/homework/Pandas-Challenge/Resources/students_complete.csv"

In [35]:
schools_df=pd.read_csv(cvs_path1)
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [36]:
students_df=pd.read_csv(cvs_path2)
students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [37]:
school_complete_data=pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_complete_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [38]:
Total_Unique_Schools=len(school_complete_data["school_name"].unique())

In [39]:
Total_Students=len(school_complete_data["student_name"])
Total_Students

39170

In [40]:
Budget=pd.Series(school_complete_data["budget"].unique())
Total_Budget=Budget.sum()
Total_Budget

24649428

In [41]:
Average_Math_Score=school_complete_data["math_score"].mean()
Average_Math_Score

78.98537145774827

In [42]:
Average_Reading_Score=school_complete_data["reading_score"].mean()
Average_Reading_Score

81.87784018381414

In [43]:
Passing_Math_Count = school_complete_data[(school_complete_data["math_score"] >= 70)].count()["student_name"]
Passing_Math_Percentage = Passing_Math_Count / float(Total_Students) * 100
Passing_Math_Percentage

74.9808526933878

In [44]:
Passing_Reading_Count = school_complete_data[(school_complete_data["reading_score"] >= 70)].count()["student_name"]
Passing_Reading_Percentage = Passing_Reading_Count / float(Total_Students) * 100
Passing_Reading_Percentage

85.80546336482001

In [45]:
Passing_Math_Reading_Count = school_complete_data[
    (school_complete_data["math_score"] >= 70) & (school_complete_data["reading_score"] >= 70)
].count()["student_name"]
Overall_Passing_Rate = Passing_Math_Reading_Count / float(Total_Students) * 100
Overall_Passing_Rate

65.17232575950983

In [46]:
District_Summary={Total_Unique_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,Passing_Math_Percentage,Passing_Reading_Percentage,Overall_Passing_Rate}
District_Summary_df=pd.DataFrame(District_Summary)
District_Summary_df

              0
0  6.517233e+01
1  3.917000e+04
2  7.498085e+01
3  7.898537e+01
4  1.500000e+01
5  8.187784e+01
6  2.464943e+07
7  8.580546e+01

In [64]:
School_Names=(school_complete_data["school_name"].unique())
School_Names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [65]:
Schools_Grouped = school_complete_data.groupby(['school_name'])
Schools_Grouped

In [68]:
School_Types = schools_grouped['type'].first()
School_Types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [70]:
Total_People = Schools_Grouped['student_name'].count()
Total_People

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [71]:
School_Budget=Schools_Grouped["budget"].first()
School_Budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [72]:
Per_Student_Budget=School_Budget/Total_People
Per_Student_Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [74]:
Average_School_Math=Schools_Grouped['math_score'].mean()
Average_School_Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [78]:
Average_School_Reading=Schools_Grouped['reading_score'].mean()
Average_School_Reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [85]:
Passing_Math = school_complete_data[school_complete_data['math_score'] >= 70]
Passing_Math_Group = Passing_Math.groupby(['school_name'])
Passing_Math_Percent = Passing_Math_Group['math_score'].count() / Total_People *100
Passing_Math_Percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [86]:
Passing_Reading = school_complete_data[school_complete_data['reading_score'] >= 70]
Passing_Reading_Group = Passing_Reading.groupby(['school_name'])
Passing_Reading_Percent = Passing_Reading_Group['reading_score'].count() / Total_People *100
Passing_Reading_Percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [87]:
Overall_Passing=school_complete_data[school_complete_data['math_score'] >= 70]&school_complete_data[school_complete_data['reading_score'] >= 70]
Overall_Passing_Group=Overall_Passing.groupby(["school_name"])
Overall_Passing_Percent=Overall_Passing_Group["student_name"].count()/Total_people*100
Overall_Passing_Percent

TypeError: unsupported operand type(s) for &: 'float' and 'bool'